@import "../../styles/index.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-indigo-700);
  z-index: 1000;

  @include mobile {
    position: unset;
  }

  .headerContainer {
    width: 100%;
    max-width: 1400px;
    padding: 1rem 2rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      flex-direction: row;
      padding: 0.5rem 1rem;
    }
    .logoContainer {
      display: flex;
      align-items: center;
      .github {
        cursor: pointer;
        margin-right: 0.5rem;
      }

      .logo {
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: 700;
        @include mobile {
          font-size: 1.4rem;
        }
      }
    }

    .menu {
      cursor: pointer;
      z-index: 1000;
    }
  }
}
